{% extends "layout.html" %}
{% block body %}
    <div class="card" style="margin-top: 2rem;">
        <div class="card-header" style="position: relative;">
            <a href="/add" style="position: absolute;right: 1rem;top: 0;font-size: 20pt;">+</a>
            学生列表
        </div>
        <div>
            <table class="table table-striped" style="margin-bottom: 0;">
                <thead>
                <tr>
                    <th>id</th>
                    <th>姓名</th>
                    <th>年龄</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.age }}</td>
                        <td style="width: 10rem;text-align: center;">
                            <a href="/edit/{{ student.id }}" class="btn btn-primary btn-sm">编辑</a>
                            <a href="/del/{{ student.id }}" class="btn-delete-item btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="/static/index.js"></script>
{% endblock %}
